<p>user works!</p>


<h3>TEMPLATE-DRIVEN FORMS</h3>
<input [(ngModel)]="user_name" />
<div>
  <ul>
    <li>Nom: {{user_name}}</li>
  </ul>
</div>

<h3>REACTIVE FORMS</h3>
<input [formControl]="user" />
<div>
  <ul>
    <li>Greetings: {{user.value}}</li>
  </ul>
</div>


<h3>REACTIVE FORMS - FormGroup</h3>
<form [formGroup]="user_forms">
  <input type="text" formControlName="name" />
  <input type="email" formControlName="email" />
  <input type="password" formControlName="password" />
  <button (click)="send()" >Envoyer</button>
</form>
<ul>
  <li>Name : {{user_forms.value.name}}</li>
  <li>Email : {{user_forms.value.email}}</li>
</ul>

<div *ngIf="pass_data; else elseBlock" >
  <p>Je part demain à {{pass_data}}</p>
</div>

<ng-template #elseBlock>Je ne pars plus</ng-template>


<h3>Service date</h3>
provenance date : {{date_service.date | date:"long"}}
provenance methode : {{date_service.getDate() | date:"long"}}
